/* styles.css (existing styles) */

/* Additional styles specific to the forgot password page */
.forgot-password-container {
  width: 90%;
  max-width: 400px;
  margin: auto;
  margin-top: 20px;
}

.forgot-password-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.forgot-password-form h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.forgot-password-form .input-group {
  margin-bottom: 15px;
}

.forgot-password-form input[type="email"],
.forgot-password-form button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.forgot-password-form button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.forgot-password-form button:hover {
  background-color: #0056b3;
}

.forgot-password-form .additional-links {
  color: #007bff;
  display: flex;
  flex-direction: column; /* Change to column layout on small screens */
  margin-bottom: 20px;

}

.forgot-password-form .additional-links p {
  color: #007bff;
  margin-bottom: 10px;
  text-align: center;
  margin-bottom: 20px;

}

.forgot-password-form .additional-links a {
  text-decoration: none;
  color: #007bff;
  text-align: center;
}

.forgot-password-form .additional-links a:hover {
  color: #007bff;
  text-decoration: underline;
}

/* Media query for responsiveness */
@media (max-width: 600px) {
  .forgot-password-container {
      margin-top: 10px;
  }
}
