/* Resetting default margins and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.login-container {
  width: 90%; /* Adjust the width as needed */
  max-width: 400px; /* Set a maximum width */
  margin: auto;
}

.login-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

.input-group {
  margin-bottom: 15px;
}

input[type="email"],
input[type="password"],
button,
.google-login {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
.error-message{
  color: blue;
  margin-bottom: 25px;
  text-align:center;
  display: none;
}

.additional-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.additional-links a {
  text-decoration: none;
  color: #007bff;
  margin-bottom: 10px;
}

a:hover {
  text-decoration: underline;
}

/* Media Query for Responsive Design */
@media only screen and (max-width: 600px) {
  .login-form {
    padding: 15px;
  }

  h2 {
    font-size: 1.5em;
  }
}
